<%= fields_for param_prefix, promotion_action do |form| %>
  <div class="field">
    <%= form.label :preferred_group_size %>
    <%= form.number_field :preferred_group_size, class: "fullwidth", min: 1 %>
  </div>
<% end %>

<%= render(
  "solidus_friendly_promotions/admin/promotion_actions/actions/calculator_fields",
  promotion_action: promotion_action,
  param_prefix: param_prefix,
  form: form
) %>
