<%= fields_for param_prefix, promotion_action do |form| %>
  <div class="field">
    <%= form.label :preferred_variant_id %>
    <%= form.text_field :preferred_variant_id, class: "variant_autocomplete fullwidth" %>
  </div>
<% end %>

<%= render(
  "solidus_friendly_promotions/admin/promotion_actions/actions/calculator_fields",
  promotion_action: promotion_action,
  param_prefix: param_prefix,
  form: form
) %>
