<div id="flash_toasts" class="fixed inset-x-0 bottom-3 flex items-center justify-center flex-col gap-3 pointer-events-none" role="alert">
  <% toasts.each do |key, message| %>
    <%= render component("ui/toast").new(text: message, scheme: key.to_sym == :error ? :error : :default) %>
  <% end %>
</div>
