@import 'spree/backend/themes/classic';

html {
  background-color: #fff;
  color: #fff;
  -webkit-filter: invert(85%);
  filter: invert(85%) hue-rotate(180deg);

  img {
    filter: invert(100%) hue-rotate(-180deg);
  }

  .brand-link img {
    filter: invert(0%) hue-rotate(0deg);
  }
}
