<table>
  <tr>
    <% {
      'Colors': ['red', 'green', 'blue', 'white'],
      'Sizes': ["XS", "S", "M", "L", "XL", "XXL", "XXXL"],
    }.each do |presentation, options| %>
      <td class="font-bold px-3 py-1"><%= presentation %></td>
      <td class="px-3 py-1 text-center">
        <%= render current_component.new(
          presentation: presentation,
          combinator: 'or',
          attribute: "attribute",
          predicate: "eq",
          options: options.map {|o| [o, 0]},
          index: 0,
          form: "id"
        )  %>
      </td>
    <% end %>
  </tr>
</table>
