{{#if editing}}
	<td colspan="5">
	edit
	</td>
	<td class="actions">
		<a class="save-method fa fa-edit no-text with-tip" data-action="edit" title="" href="#" title="Edit"></a>
		<a class="cancel-method fa fa-edit no-text with-tip" data-action="edit" title="" href="#" title="Edit"></a>
	</td>
{{else}}
	<td colspan="4">
		<strong>UPS Ground (USD)</strong>
	</td>
	<td class="total" align="center">
		<span>$5.00</span>
	</td>
	<td class="actions">
		<a class="edit-method fa fa-edit no-text with-tip" data-action="edit" title="" href="#" title="Edit"></a>
	</td>
{{/if}}
