# frozen_string_literal: true

class <%= class_name %>::Component < ApplicationComponent
<%- if initialize_signature -%>
  def initialize(<%= initialize_signature %>)
    <%= initialize_body %>
  end
<%- end -%>
<% unless options['html'] %>
  erb_template <<~ERB
    <%= inline_html indent: '    ' %>
  ERB
<%- end -%>
end
