# frozen_string_literal: true

class <%= File.join(*[namespaced_path, file_path].compact).classify %>::Component < SolidusAdmin::BaseComponent
<%- if initialize_signature -%>
  def initialize(<%= initialize_signature %>)
    <%= initialize_body %>
  end
<%- end -%>
<% unless options['html'] %>
  erb_template <<~ERB
    <%= inline_html indent: '    ' %>
  ERB
<%- end -%>
end
