<figure class="flex items-center gap-2">
  <%= icon_thumbnail %>
  <figcaption class="flex flex-col gap-0 max-w-[15rem]">
    <div class="text-black body-small whitespace-nowrap text-ellipsis overflow-hidden">
      <%= caption %>
    </div>
    <% if detail %>
      <div class="text-gray-500 body-small whitespace-nowrap text-ellipsis overflow-hidden">
        <%= detail %>
      </div>
    <% end %>
  </figcaption>
</figure>
