<%= form_with model: benefit, scope: :benefit, url: path, method: :get do |form| %>
  <%= form.hidden_field :type %>
  <div class="form-group">
    <%= form.label :calculator_type %>
    <%=
      form.select :calculator_type,
        options_for_benefit_calculator_types(form.object),
        {
          include_blank: t(:choose_benefit_calculator, scope: 'solidus_promotions')
        },
        class: 'custom-select fullwidth',
        onchange: 'this.form.requestSubmit()',
        required: true
    %>
  </div>
<% end %>
