<header class="checkout-header col-span-full mt-12">
  <h1 class="font-serif text-h4 mb-5 md:text-h3">
    <%= t('spree.checkout') %>
  </h1>
  <div class="checkout-header__steps">
    <%= checkout_progress %>
  </div>
</header>
