\#*
*~
.#*
.DS_Store
.bundle
.idea
.loadpath
.project
.ruby-version
bin/*
doc
Gemfile.lock
Gemfile-custom
log
pkg
sandbox
**/spec/dummy
**/spec/examples.txt
tmp
coverage
var
TAGS
nbproject
**/vendor/bundle
tags
*.swp
.rvmrc
.sass-cache
.localeapp
.yardoc
