$color-action-success-bg: theme-color-level(success, -10) !default;
$color-action-success-brd: theme-color-level(success, -9) !default;
$color-action-warning-bg: theme-color-level(warning, -10) !default;
$color-action-warning-brd: theme-color-level(warning, -9) !default;
$color-action-danger-bg: theme-color-level(danger, -10) !default;
$color-action-danger-brd: theme-color-level(danger, -9) !default;

$color-action-edit-bg: $color-action-success-bg !default;
$color-action-edit-brd: $color-action-success-brd !default;
$color-action-clone-bg: $color-action-warning-bg !default;
$color-action-clone-brd: $color-action-warning-brd !default;
$color-action-remove-bg: $color-action-danger-bg !default;
$color-action-remove-brd: $color-action-danger-brd !default;
$color-action-void-bg: $color-action-danger-bg !default;
$color-action-void-brd: $color-action-danger-brd !default;
$color-action-cancel-bg: $color-action-warning-bg !default;
$color-action-cancel-brd: $color-action-warning-brd !default;
$color-action-capture-bg: $color-action-success-bg !default;
$color-action-capture-brd: $color-action-success-brd !default;
$color-action-save-bg: $color-action-success-bg !default;
$color-action-save-brd: $color-action-success-brd !default;
$color-action-mail-bg: $color-action-success-bg !default;
$color-action-mail-brd: $color-action-success-brd !default;
$color-action-failure-bg: $color-action-danger-bg !default;
$color-action-failure-brd: $color-action-danger-brd !default;

$actions: (
  edit,
  clone,
  remove,
  void,
  capture,
  save,
  cancel,
  mail,
  failure
) !default;

$actions-bg-colors: (
  $color-action-edit-bg,
  $color-action-clone-bg,
  $color-action-remove-bg,
  $color-action-void-bg,
  $color-action-capture-bg,
  $color-action-save-bg,
  $color-action-cancel-bg,
  $color-action-mail-bg,
  $color-action-failure-bg
) !default;

$actions-brd-colors: (
  $color-action-edit-brd,
  $color-action-clone-brd,
  $color-action-remove-brd,
  $color-action-void-brd,
  $color-action-capture-brd,
  $color-action-save-brd,
  $color-action-cancel-brd,
  $color-action-mail-brd,
  $color-action-failure-brd
) !default;

table tbody tr {
  &.highlight {

    @each $action in $actions {
      &.action-#{$action} {
        td, th {
          background-color: get-value($actions, $actions-bg-colors, $action);
          border-color: get-value($actions, $actions-brd-colors, $action);
        }
      }
    }

    &.action-remove, &.action-void, &.action-failure {
      td, th {
        text-decoration: line-through;
      }

      td.actions {
        text-decoration: none;
      }
    }
  }

  td.actions {
    button {
      cursor: pointer;
    }
  }
}
