.btn-default {
  background: linear-gradient($color-white, $color-light-dark);
  color: $color-dark;
  border-color: $color-dark-accent;

  &:hover {
    background: linear-gradient($color-white, darken($color-light-dark, 3%));
  }

  &.disabled,
  &:disabled {
    color: $color-disabled;
  }
}
