.currency-selector-symbol {
  min-width: 2.5em;
  text-align: center;
}

.currency-selector {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: .5rem;
  border: 0;
  background: transparent;

  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1024' height='640'><path d='M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z'></path></svg>") 90%/12px 6px no-repeat;

  font-family: inherit;
  color: inherit;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.currency-selector-amount {
  text-align: right;
}

.currency-selector-addon {
  width: 5em;
  text-align: left;
  position: relative;
}
