.image-placeholder {
  &.mini {
    width: 50px;
    height: 50px;
    line-height: 48px;
  }

  &.small {
    width: 102px;
    height: 102px;
    line-height: 100px;
  }

  display: inline-block;
  margin: auto;
  text-align: center;
  border: 1px solid $color-light-dark;
  color: $color-light-accent;

  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f03e"; /* fa-picture-o */
  }
}
