.list-group {
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -1px;
  border: 1px solid $color-border;

  // Round the first and last items
  &:first-child {
    @include border-top-radius(4px);
  }
  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius(4px);
  }
}

a.list-group-item:focus {
  text-decoration: none;
  background-color: $color-light;
}
