.errorExplanation {
  padding: 5px;
  border: 1px solid very-light($color-error, 12);
  background-color: very-light($color-error, 6);
  border-radius: 3px;
  color: very-light($color-error, 30);
  margin-bottom: 15px;

  h2 {
    font-size: 140%;
    color: very-light($color-error, 30);
    margin-bottom: 5px;
  }

  p {
    padding: 10px 0;
  }

  ul {
    list-style-position: inside;

    li {
      font-weight: $font-weight-bold;
    }
  }
}

.flash-wrapper {
  @include position(fixed, null 0 0 $width-sidebar);
  z-index: 1000;
}

@mixin flash-variant($color) {
  color: $color;
  background-color: rgba($color, 0.3);
}

.flash {
  padding: 1em;
  font-size: 120%;

  &.notice  {
    @include flash-variant($color-notice);
  }

  &.success {
    @include flash-variant($color-success);
    @include prepend-icon($character-check);
  }

  &.error   {
    @include flash-variant($color-error);
    @include prepend-icon($character-exclamation);
  }

  &:before {
    margin-right: 1em;
  }
}

.alert {
  position: relative;
  font-weight: normal !important;

  a {
    text-decoration: underline;
  }

  &.error a { color: very-light($color-error, 10) }
}
