.errorExplanation {
  padding: 5px;
  border: 1px solid very-light($brand-danger, 12);
  background-color: very-light($brand-danger, 6);
  border-radius: 3px;
  color: very-light($brand-danger, 30);
  margin-bottom: 15px;

  h2 {
    font-size: 140%;
    color: very-light($brand-danger, 30);
    margin-bottom: 5px;
  }

  p {
    padding: 10px 0;
  }

  ul {
    list-style-position: inside;

    li {
      font-weight: $font-weight-bold;
    }
  }
}

.flash-wrapper {
  @include position(fixed, null 0 0 $width-sidebar);
  z-index: 1000;
}

.flash {
  padding: 16px;
  text-align: center;
  font-size: 120%;
  color: $color-1;
  font-weight: $font-weight-bold;

  &.notice  { background-color: rgba($brand-warning,  0.8) }
  &.success { background-color: rgba($brand-success, 0.8) }
  &.error   { background-color: rgba($brand-danger,   0.8) }
}

.alert {
  position: relative;
  font-weight: normal !important;

  a {
    text-decoration: underline;
  }

  &.error a { color: very-light($brand-danger, 10) }
}
