$padding-x-navbar: 26px;
$padding-y-navbar: 13px;
$padding-y-navbar-submenu: 9px;

.menu-button-icon {
  width: 34px;
  height: 32px;
  margin-right: 10px;
  background: $color-btn-bg;
  color: $color-btn-text;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: none;
  &:hover {
    background: $color-btn-hover-bg;
  }
  @include media($tablet) {
    display: block;
  }

  i {
    padding-top: 7px;
    color: $color-btn-text;
    font-size: 18px;
  }
}

#menu-button {
  display: none;

  &:checked ~ .admin-wrapper {
    overflow: hidden;

    .admin-nav {
      @include transform(translateX(0));
    }

    .admin-content  {
      @include transform(translateX($width-sidebar));
      @include media($large-device) {
        transform: none;
      }
    }
  }
}

nav.menu {
  ul {
    list-style: none;

    li {
      a {
        padding: 10px 0;
        display: block;
        position: relative;
        text-align: left;
        border: 1px solid transparent;
        font-weight: $font-weight-bold;
      }

      &.active a {
        color: $color-2;
        border-left-width: 0;
        border-bottom-color: $color-2;
      }
    }
  }
}

.admin-nav {
  border-right: $border-sidebar;
  background: $color-sidebar-bg;
  z-index: $z-index-navbar-flyout;
  @include media($desktop) {
    width: $width-sidebar-collapsed;
  }
  @include media($tablet) {
    @include transform(translateX(-$width-sidebar));
    width: $width-sidebar;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.admin-nav-header {
  padding: 15px;
  height: 58px; // height of .page-title
  box-sizing: content-box;
  background-color: $color-1;
  border-bottom: 1px solid $color-border;

  a {
    display: inline-block;
    line-height: 58px;
    @include media($desktop) {
      display: none;
    }
    @include media($tablet) {
      display: inline-block;
    }
  }

  img {
    vertical-align: middle;
  }
}

.admin-nav-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    background: $color-navbar-bg;

    &:hover {
      background: $color-navbar-active-bg;

      > a {
        color: $color-navbar-active;
      }
    }

    &.selected {
      background: $color-navbar-active-bg;
      @include media($desktop) {
        position: relative;
      }

      &:not(:hover) > ul {
        @include media($desktop) {
          display: none;
        }
        @include media($tablet) {
          display: block;
        }
      }

      > ul {
        @include media($desktop) {
          @include flyout;
        }
        @include media($tablet) {
          position: relative;
          left: 0;
          width: $width-sidebar;
          border-top: 0;
          border-bottom: 0;
        }
      }

      li {
        padding-left: 2em;
      }

      > a {
        color: $color-navbar-active;
      }
    }

    &:not(.selected) {
      position: relative;

      > ul {
        @include flyout;
        @include media($tablet) {
          display: none;
        }
      }

      &:not(:hover) > ul {
        display: none;
      }
    }
  }

  a {
    display: block;
    padding: $padding-y-navbar $padding-x-navbar;
    color: $color-navbar;
    font-weight: normal;
  }

  .icon_link {
    text-indent: 2em;
    @include media($desktop) {
      text-indent: 1.5em;
    }
    @include media($tablet) {
      text-indent: 2em;
    }

    &:before {
      position: absolute;
      left: 1em;
      transform: translateX(-50%);
    }
  }

  // until .fa usage is corrected
  .text {
    font-family: $base-font-family;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    @include media($desktop) {
      overflow: hidden;
      display: block;
    }
    @include media($tablet) {
      overflow: visible;
    }
  }

  .admin-subnav {
    background: $color-navbar-submenu-bg;
    @include padding($padding-y-navbar - $padding-y-navbar-submenu null);

    li {
      background: $color-navbar-submenu-bg;
    }

    a {
      color: $color-navbar-submenu;
      @include padding($padding-y-navbar-submenu null);

      &:hover {
        color: $color-navbar-submenu-active;
      }
    }

    .selected {
      a {
        color: $color-navbar-submenu-active;
      }
    }
  }
}

.admin-nav-footer {
  background-color: $color-navbar-footer-bg;

  a {
    color: $color-navbar-footer;

    &:hover {
      color: $color-navbar-footer-active;
    }
  }
}

.admin-nav.fits .admin-nav-footer {
  position: fixed;
  bottom: 0;
  width: $width-sidebar;
  border-top: $border-sidebar;
  border-right: $border-sidebar;
  @include media($desktop) {
    width: $width-sidebar-collapsed;
  }
  @include media($tablet) {
    width: $width-sidebar;
    position: relative;
  }
}

.admin-login-nav {
  list-style: none;
  margin: 0;
  padding: 1rem 0;

  li {
    padding: 0.3rem 1.2rem;
    @include media($desktop) {
      padding: 0.3rem 0.5rem 0.3rem 1.1rem;
    }
    @include media($tablet) {
      padding: 0.3rem 1.2rem;
    }
  }

  a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    margin-right: 0.5rem;
  }
}
