nav.menu {
  ul {
    list-style: none;

    li {
      a {
        padding: 10px 0;
        display: block;
        position: relative;
        text-align: left;
        border: 1px solid transparent;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: 90%;
      }

      &.active a {
        color: $color-2;
        border-left-width: 0;
        border-bottom-color: $color-2;
      }
    }
  }
}

.admin-nav {
  @include display(flex);
  @include flex-direction(column);
  border-right: 1px solid $color-sidebar-border;
  background: $color-sidebar-bg;
  z-index: $z-index-navbar-flyout;
}

.admin-nav-menu {
  @include flex(1);
  text-transform: uppercase;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    background: $color-navbar-bg;

    &:hover,
    &.selected {
      background: $color-navbar-active-bg;
    }

    &.selected li {
      padding-left: 2em;
    }

    &:not(.selected):not(:hover) > ul {
      display: none;
    }

    &:not(.selected) {
      position: relative;

      // flyout nav
      > ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: $width-sidebar-flyout;
        margin-left: 0;
        padding: 1em 0;
        border: 1px solid $color-sidebar-border;
        background: $color-navbar-submenu-bg;
        box-shadow: $box-shadow;
        @include caret($direction: left, $color-caret: $color-navbar-submenu-bg);

      &:before {
        z-index: 1;
        top: 2em;
      }
     }
    }
  }

  a {
    display: block;
    padding: 1.5em 2em;
    color: $color-navbar-text;
    font-weight: normal;
  }

  .icon_link {
    text-indent: 2em;

    &:before {
      position: absolute;
      left: 1em;
      @include transform(translateX(-50%));
    }
  }

  // until .fa usage is corrected
  .text {
    font-family: $base-font-family;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  .admin-subnav {
    li {
      background: $color-navbar-submenu-bg;
    }

    a {
      color: $color-navbar-bg;
      @include padding(1em null);

      &:hover {
        color: $color-navbar-active-bg;
      }
    }

    .selected {
      a {
        color: $color-navbar-active-bg;
      }
    }
  }
}

.admin-login-nav {
  list-style: none;
  padding-left: 1rem;
  margin-bottom: 0;

  i {
    margin-right: 0.5rem;
  }
}
