$padding-x-navbar: 26px;
$padding-y-navbar: 13px;
$padding-y-navbar-submenu: 9px;

nav.menu {
  ul {
    list-style: none;

    li {
      a {
        padding: 10px 0;
        display: block;
        position: relative;
        text-align: left;
        border: 1px solid transparent;
        font-weight: $font-weight-bold;
      }

      &.active a {
        color: $color-2;
        border-left-width: 0;
        border-bottom-color: $color-2;
      }
    }
  }
}

.admin-nav {
  border-right: $border-sidebar;
  background: $color-sidebar-bg;
  z-index: $z-index-navbar-flyout;
  @include media($mobile-landscape) {
    width: $width-sidebar-collapsed;
  }
}

.admin-nav-header {
  padding: 15px;
  height: 58px; // height of .page-title
  box-sizing: content-box;
  background-color: $color-1;
  border-bottom: 1px solid $color-border;

  a {
    display: inline-block;
    line-height: 58px;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    @include media($mobile-landscape) {
      display: none;
    }
  }
}

.admin-nav-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    background: $color-navbar-bg;

    &:hover {
      background: $color-navbar-active-bg;

      > a {
        color: $color-navbar-active;
      }
    }

    &.selected {
      background: $color-navbar-active-bg;
      @include media($mobile-landscape) {
        position: relative;
      }

      > a {
        color: $color-navbar-active;
      }

      // flyout nav
      > ul {
        @include media($mobile-landscape) {
          @include flyout;
        }
      }
    }

    &.selected li {
      padding-left: 2em;
    }

    &.selected:not(:hover) > ul {
      @include media($mobile-landscape) {
        display: none;
      }
    }

    &:not(.selected):not(:hover) > ul {
      display: none;
    }

    &:not(.selected) {
      position: relative;

      // flyout nav
      > ul {
        @include flyout;
      }
    }
  }

  a {
    display: block;
    padding: $padding-y-navbar $padding-x-navbar;
    color: $color-navbar;
    font-weight: normal;
  }

  .icon_link {
    text-indent: 2em;
    @include media($mobile-landscape) {
      text-indent: 1.5em;
    }

    &:before {
      position: absolute;
      left: 1em;
      transform: translateX(-50%);
    }
  }

  // until .fa usage is corrected
  .text {
    font-family: $font-family-base;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    @include media($mobile-landscape) {
      @include hide-text;
      display: block;
    }
  }

  .admin-subnav {
    background: $color-navbar-submenu-bg;
    @include padding($padding-y-navbar - $padding-y-navbar-submenu null);

    li {
      background: $color-navbar-submenu-bg;
    }

    a {
      color: $color-navbar-submenu;
      @include padding($padding-y-navbar-submenu null);

      &:hover {
        color: $color-navbar-submenu-active;
      }
    }

    .selected {
      a {
        color: $color-navbar-submenu-active;
      }
    }
  }
}

.admin-nav-footer {
  background-color: $color-navbar-footer-bg;

  a {
    color: $color-navbar-footer;

    &:hover {
      color: $color-navbar-footer-active;
    }
  }
}

.admin-nav.fits .admin-nav-footer {
  position: fixed;
  bottom: 0;
  width: $width-sidebar;
  border-top: $border-sidebar;
  border-right: $border-sidebar;
  @include media($mobile-landscape) {
    width: $width-sidebar-collapsed;
  }
}

.admin-login-nav {
  list-style: none;
  margin: 0;
  padding: 1rem 0;

  li {
    padding: 0.3rem 1.2rem;
    @include media($mobile-landscape) {
      padding: 0.3rem 0.5rem 0.3rem 1.1rem;
    }
  }

  a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    margin-right: 0.5rem;
  }
}
