$padding-x-navbar: 26px;
$padding-y-navbar: 13px;
$padding-y-navbar-submenu: 9px;

.menu-button-icon {
  width: 34px;
  height: 32px;
  margin-right: 10px;
  background: $color-btn-bg;
  color: $color-btn-text;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: none;
  &:hover {
    background: $color-btn-hover-bg;
  }
  @media #{$tablet} {
    display: block;
  }

  i {
    padding-top: 7px;
    color: $color-btn-text;
    font-size: 18px;
  }
}

#menu-button {
  display: none;

  &:checked ~ .admin-wrapper {
    overflow: hidden;

    .admin-nav {
      width: $width-sidebar;
      transform: translateX(0);

      .admin-nav-header a {
        display: inline-block;
      }

      .admin-nav-footer {
        width: $width-sidebar;
      }
    }

    .admin-nav-menu {
      .collapse-menu-close {
        display: block;
        @media #{$tablet} {
          display: none;
        }
      }

      .collapse-menu-open {
        display: none;
      }

      li.selected {
        > ul {
          display: block;
          position: relative;
          left: 0;
          width: $width-sidebar;
          border: none;
        }
      }

      li,
      li.selected {
        > ul {
          &.with-single-element {
            display: none;
          }
        }
      }
    }

    .admin-content {
      padding-left: 0;
      transform: translateX($width-sidebar);
      @media #{$large-device} {
        transform: none;
        margin-left: $width-sidebar;
      }
    }
  }
}

nav.menu {
  ul {
    list-style: none;

    li {
      a {
        padding: 10px 0;
        display: block;
        position: relative;
        text-align: left;
        border: 1px solid transparent;
        font-weight: $font-weight-bold;
      }

      &.active a {
        color: $color-2;
        border-left-width: 0;
        border-bottom-color: $color-2;
      }
    }
  }
}

.admin-nav {
  border-right: $border-sidebar;
  background: $color-sidebar-bg;
  z-index: $z-index-navbar-flyout;
  width: $width-sidebar-collapsed;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  @media #{$tablet} {
    transform: translateX(-$width-sidebar-collapsed);
  }
}

.admin-nav-header {
  padding: 15px;
  height: 47px; // height of .page-title
  box-sizing: content-box;
  background-color: $color-1;
  border-bottom: 1px solid $color-border;
  @media #{$tablet} {
    height: 44px;
  }

  a {
    display: inline-block;
    line-height: 47px;
    display: none;
  }

  img {
    vertical-align: middle;
  }
}

.admin-nav-main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.admin-nav-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    background: $color-navbar-bg;

    > ul {
      position: relative;
      display: none;
    }

    &:hover {
      background: $color-navbar-active-bg;
      position: relative;

      > a {
        color: $color-navbar-active;
      }

      > ul {
        @include flyout;
        display: block;
      }
    }

    &.selected {
      background: $color-navbar-active-bg;

      > a {
        color: $color-navbar-active;
      }
    }
  }

  a {
    overflow-x: hidden;
    display: block;
    padding: $padding-y-navbar $padding-x-navbar;
    color: $color-navbar;
    font-weight: normal;
  }

  .icon_link {
    text-indent: 1.5em;

    &:before {
      position: absolute;
      left: 1em;
      transform: translateX(-50%);
    }
  }

  // until .fa usage is corrected
  .text {
    font-family: $font-family-base;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    @media #{$desktop} {
      overflow: hidden;
      display: block;
    }
    @media #{$tablet} {
      overflow: visible;
    }
  }

  .collapse-menu {
    cursor: pointer;

    a {
      pointer-events: none;
    }

    .collapse-menu-open {
      @media #{$tablet} {
        display: none;
      }
    }
    .collapse-menu-close { display: none; }
  }

  .admin-subnav {
    background: $color-navbar-submenu-bg;
    @include padding($padding-y-navbar - $padding-y-navbar-submenu null);

    &.with-single-element {
      .selected > ul {
        display: block;
      }
    }

    li {
      background: $color-navbar-submenu-bg;
    }

    a {
      color: $color-navbar-submenu;
      @include padding($padding-y-navbar-submenu null);

      &:hover {
        color: $color-navbar-submenu-active;
      }
    }

    .selected {
      a {
        color: $color-navbar-submenu-active;
      }
    }
  }
}

.admin-nav-footer {
  background-color: $color-navbar-footer-bg;
  width: $width-sidebar-collapsed;

  a {
    color: $color-navbar-footer;

    &:hover {
      color: $color-navbar-footer-active;
    }
  }

  .admin-nav.fits & {
    position: fixed;
    bottom: 0;
    border-top: $border-sidebar;
    border-right: $border-sidebar;
  }
}

.admin-login-nav {
  list-style: none;
  margin: 0;
  padding: 1rem 0;

  li {
    padding: 0.3rem 1rem;
  }

  a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    margin-right: 0.5rem;
  }
}
