$color-navbar-hover-bg: $color-navbar-bg !default;
$color-navbar-hover: $color-navbar !default;

.solidus-admin--nav {
  background-color: $color-light;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sticky;
  width: $width-sidebar;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  border-right: $color-light-accent 1px solid;

  @media print {
    display: none
  }

  &--section {
    text-align: center;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  >nav {
    flex-grow: 1;
  }

  &--logo {
    height: $main-header-height - (16px * 2);
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: left;
    margin-bottom: 16px;
    padding: 12px 8px;

    img {
      max-height: $main-header-height - (16px * 2) - (12px * 2);
      max-width: calc(100% - (8px * 2));
      object-fit: contain;
    }
  }

  &--store-link {
    display: flex;
    width: 100%;
    border: $border-color 1px solid;
    border-radius: $border-radius;
    padding: 6px 8px;
    text-align: left;

    &:hover {
      background: $color-navbar-hover-bg;
      color: $color-navbar-hover;
    }

    i {
      float: right;
      padding: 6px 8px;
      color: $color-dark-light;
    }

    &--name {
      line-height: 24px;
      font-size: 14px;
      font-weight: 600;
      color: $color-dark;
      display: block;
    }

    &--url {
      line-height: 20px;
      font-size: 12px;
      font-weight: 400;
      color: $color-dark-light;
      display: block;
    }
  }

  &--menu {
    padding: 0;
    list-style: none;
    text-align: left;

    li {
      padding: 1px 0;
    }

    li>a,
    li>label {
      margin: 0;
      display: block;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      padding: 2px 12px;
      width: 100%;
      border-radius: $border-radius;
      color: $color-primary;

      &::before {
        margin-right: 12px;
        display: inline-block;
        width: 18px;
        padding: 0;
      }

      display: flex;
      align-items: baseline;
    }

    li.selected>a {
      background: $color-navbar-active-bg;
      color: $color-navbar-active;
    }

    li:not(.selected):hover>a,
    li:not(.selected):hover>label {
      background: $color-navbar-hover-bg;
      color: $color-navbar-hover;
    }

    ul {
      padding: 0;
      padding-left: 12px + 16px;
      margin: 0;
      list-style: none;

      li a {
        padding-left: 12px;
        font-weight: 400;
        color: $color-dark-dark;
      }
    }

    li:not(.selected)>ul {
      display: none;
    }
  }
}
