.number-with-currency {
  &-symbol {
    min-width: 2.5em;
  }

  &-amount {
    text-align: right;
  }

  &-addon {
    width: 5.5rem;
    text-align: left;
  }

  &-with-select {
    .number-with-currency-amount {
      border-right: 0;

      &:focus + .number-with-currency-select {
        border-left-color: $input-border-focus;
      }
    }

    .number-with-currency-select {
      @extend .custom-select;

      cursor: pointer;
      width: 5.5rem;

      @include border-radius($border-radius);
      @include border-left-radius(0);

      &::-ms-expand {
        // Required to see full text of selected value on IE11
        display: none;
      }
    }
  }
}
