body:not(.new-layout) #sidebar {
  overflow: visible;
  border-top: 1px solid $color-border;
  margin-top: 17px;

  .sidebar-title {
    color: $color-2;
    text-align: center;
    font-size: 16px;
    font-weight: $font-weight-bold;

    > span {
      display: inline;
      background: #fff;
      padding: 5px 10px;
      position: relative;
      top: -14px;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  dl {
    dt, dd {
      min-height: 3em;
    }
  }
}

body.new-layout .content-sidebar {
  ul {
    padding-left: 0;
  }
}

body.new-layout .sidebar-title {
  @include line-through();
  color: $color-2;
  font-size: 14px;
}
