.state {
  font-size: 90%;
  font-weight: $font-weight-bold;

  &:before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 3px;
    border-radius: $font-size-root/2;
    width: $font-size-root - 4px;
    height: $font-size-root - 4px;
  }

  @each $state in $states {
    &.#{$state}:before {
      background-color: get-value($states, $states-bg-colors, $state);

      // &, a {
      //   color: get-value($states, $states-text-colors, $state);
      // }
    }
  }
}

table tbody tr {
  &[class*="state"] td:first-child {
    border-left-width: 3px;
  }
  &.state-complete td:first-child { border-left-color: $brand-success }
  &.state-cart     td:first-child { border-left-color: very-light($brand-warning, 6) }
  &.state-canceled td:first-child { border-left-color: $brand-danger }
}
