.main-header {
  display: flex;
  align-items: center;
  padding: 15px $grid-gutter-width;
  background-color: $color-header-bg;
  border-bottom: 1px solid $color-border;
  border-top: 4px solid $color-primary;
  height: $main-header-height;

  @media print { display: none }
}

.page-title {
  font-size: 20px;
  margin: 0.67em 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  i {
    color: $color-primary;
  }
}

.header-actions {
  flex-grow: 1;
  text-align: right;
  line-height: 38px;

  form {
    display: inline-block;
  }
}
