html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-left: $width-sidebar;
}

.admin-nav {
  @include position(absolute, 0 null 0 0);
  width: $width-sidebar;
  @media print { display: none }
}

.content-wrapper {
  @include padding(1rem $grid-gutter-width null);

  &:not(.full-width) {
    @include margin(null auto);
    max-width: map-get($container-max-widths, "xl");
  }
}

.content-main {
  overflow-x: hidden; // makes sure that the tabs are able to resize
}

#content {
  position: relative;
  padding: 0;
  margin-top: 15px;
}
