html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.admin-nav {
  @include position(absolute, 0 null 0 0);
  width: $width-sidebar;
}

.main-content {
  margin-left: $width-sidebar;
  @include clearfix;
}

// Header
//---------------------------------------------------
.admin-nav-header {
  padding: 15px;
  height: 58px; // height of .page-title
  box-sizing: content-box;
  background-color: $color-1;
  border-bottom: 1px solid $color-border;

  a {
    display: inline-block;
    line-height: 58px;
  }

  img {
    vertical-align: middle;
  }
}

[data-hook="admin-title"] { font-size: 14px }

.page-title {
  i {
    color: $color-2;
  }
}

// Content
//---------------------------------------------------
#content {
  background-color: $color-1;
  position: relative;
  z-index: 0;
  padding: 0;
  margin-top: 15px;
}

#content-header {
  @include display(flex);
  @include align-items(center);
  padding: 15px 14px;
  background-color: very-light($color-3, 4);
  border-bottom: 1px solid $color-border;

  .page-title {
    font-size: 20px;
    margin: 0.67em 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.header-actions {
  @include flex-grow(1);
  text-align: right;
  line-height: 38px;

  form {
    display: inline-block;
  }
}

// Footer
//---------------------------------------------------
#footer {
  margin-top: 15px;
  border-top: 1px solid $color-border;
  padding: 10px 0;
}
