html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;

  &.new-layout {
    padding-left: $width-sidebar;
  }
}

.admin-nav {
  @include position(absolute, 0 null 0 0);
  width: $width-sidebar;
}

.content-wrapper {
  body:not(.new-layout) & {
    margin-left: $width-sidebar;
  }

  body.new-layout & {
    @include padding(1rem $grid-gutter-width null);
  }

  &.centered {
    @include margin(null auto);
    max-width: map-get($container-max-widths, "xl");
  }
}

.content {
  @include make-row();
}

.content-main {
  @include make-col();
  @include make-col-span(12);
  overflow-x: hidden; // makes sure that the tabs are able to resize

  .has-sidebar & {
    @include make-col-span(9);
  }
}

.content-sidebar {
  @include make-col();
  @include make-col-span(3);
}

#content {
  background-color: $color-1;
  position: relative;
  z-index: 0;
  padding: 0;
  margin-top: 15px;
}
