<span class="max-w-xs text-xs text-right text-gray-600 hidden lg:block">
  <%= t(".feedback_description") %>
</span>
<%= render component("ui/button").new(
  tag: :a,
  text: t(".give_feedback"),
  href: "https://solidus.io/feedback?category=solidus-admin",
  icon: "feedback-line",
  scheme: :secondary,
  target: :_blank,
) %>
