<ul>
  <li>This one has a main column on the left and secondary column on the right for information to describe what happens in each section of the form. I expect this one will be used more often than the other.</li>
  <li>Use this for forms that would benefit from a little extra explanation of how to use the section.</li>
  <li>Use this for forms that have minimal fields and have many equal priority items in them.</li>
  <li>Try to use this form layout first before using the next one.</li>
</ul>




