<nav>
  <%= render SolidusAdmin::MainNavItemComponent.new(title: "First item") %>
  <%= render SolidusAdmin::MainNavItemComponent.new(title: "Second item") %>
  <%= render SolidusAdmin::MainNavItemComponent.new(title: "Third item") %>
</nav>
