<li>
  <div class="
      py-2 px-3 mb-1
      bg-no-repeat bg-left bg-origin-content
      "
      <%= background_image_style_attribute %>
  >
    <a href="#" class="
      pl-[1.81rem]
      font-sans text-sm
      <%= link_level_classes %>
    ">
      <%= name %>
    </a>
  </div>
  <%= nested_items %>
</li>
