<div data-hook="admin_inside_taxonomy_form" class="field align-center">
  <%= f.field_container :name do %>
    <%= f.label :name, class: 'required' %><br />
    <%= error_message_on :taxonomy, :name, class: 'fullwidth title' %>
    <%= text_field :taxonomy, :name %>
  <% end %>
</div>
