<a href="#" id="product_{{ id }}" data-product-id="{{ id }}" class="sort_item list-group-item">
  <i class="fa fa-sort"></i>
  <span class="product_name">{{ name }}</span>
  <span class="float-right">{{ display_price }}</span>
</a>
