<%
  %w[
    body-tiny
    body-tiny-bold
    body-small
    body-small-bold
    body-text
    body-text-bold
    body-title
  ].each do |klass_name|
%>
  <div class="mb-3">
    <h1 class="body-small text-gray-500"><%= klass_name %></h1>
    <p class="<%= klass_name %>">
      The quick brown fox jumps over the lazy dog.
    </p>
  </div>
<% end %>
