<div id="coupon_code" data-hook="coupon_code">
  <%= form_tag order_coupon_codes_path(@order), method: :post do %>
    <%= text_field_tag :coupon_code, nil, placeholder: t("spree.coupon_code"), size: 10 %>
    <%= submit_tag t("spree.apply_code") %>
  <% end %>
</div>
