<div class="flex gap-2 grow">
  <%= render component("ui/thumbnail").new(
    src: @thumbnail,
    alt: @title,
  ) if @thumbnail %>
  <div class="flex-col">
    <div class="leading-5 text-black font-semibold text-sm"><%= @title %></div>
    <div class="leading-5 text-gray-500 font-normal text-sm"><%= @subtitle %></div>
  </div>
</div>
