<div class="field">
  <label><%= t("spree.store_rule.choose_stores" ) %></label>
  <%= select_tag "#{param_prefix}[store_ids][]",
    options_from_collection_for_select(Spree::Store.all, :id, :name, promotion_rule.store_ids),
    multiple: true, class: "select2 fullwidth" %>
</div>
