<%= form_with(url: "#", scope: :overview, method: :get, class: "w-full") do |form| %>
  <table>
    <thead>
      <tr>
        <% sizes.each do |size| %>
          <td class="px-3 py-1 text-gray-500 text-center body-text"><%= size.to_s.humanize %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%
        variants.each_pair do |name, definition| %>
          <tr>
            <% sizes.each do |size| %>
              <td class="px-3 py-1">
                <%=
                  render current_component.new(
                    builder: form,
                    field: name,
                    size: size,
                    errors: definition[:errors],
                    hint: definition[:hint],
                    disabled: definition[:disabled],
                    placeholder: "Placeholder",
                    value: definition[:value]
                  )
                %>
              </td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
