<%= form_for order, url: update_checkout_path(order.state), html: { id: "checkout_form_#{order.state}" } do |form| %>
  <% if order.state == "address" || !order.email? %>
    <div class="text-input mb-6">
      <%= form.label :email, 'Customer email' %>
      <%= form.email_field :email, required: true, placeholder: 'name@example.com' %>
    </div>
  <% end %>

  <%= render "checkouts/steps/#{order.state}_step", form: form, differentiator: @differentiator %>
<% end %>
