<% helper.validate! %>
<% helper.load_javascript! %>

<span
  data-controller="<%= stimulus_id %>"
  data-action="click-><%= stimulus_id %>#alert"
  class="pill pill-<%= state %>"
><%= helper.text %></span>
