<% include_helper helper %>
<% validate_state! state %>
<% load_javascript! %>

<span
  data-controller="<%= stimulus_id %>"
  data-action="click-><%= stimulus_id %>#alert"
  class="pill pill-<%= state %>"
><%= text || t(".states.#{state}") %></span>
