<div class="fullwidth tier">
  <a class="fa fa-trash remove js-remove-tier"></a>
  <div class="row">
    <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input class="js-base-input form-control" type="text" value={{baseField.value}}>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input class="js-value-input form-control"
          name="{{valueField.name}}" type="text" value={{valueField.value}}>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
