<div class="fullwidth tier">
  <a class="fa fa-trash remove js-remove-tier"></a>
  <div class="two columns alpha omega">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input class="js-base-input form-control" type="text" value={{baseField.value}}>
    </div>
  </div>
  <div class="two columns alpha omega right">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input class="js-value-input form-control"
        name="{{valueField.name}}" type="text" value={{valueField.value}}>
    </div>
  </div>
  <div class="clear"></div>
</div>
