<div class="field">
  <%= fields_for "#{prefix}[calculator_attributes]", calculator do |f| %>
    <%= f.label :preferred_amount %>
    <%= render "spree/admin/shared/number_with_currency", f: f, amount_attr: :preferred_amount, currency_attr: :preferred_currency %>
  <% end %>
</div>

<div class="field">
  <p>
    <%= admin_hint(
      calculator.model_name.human,
      calculator.class.human_attribute_name(:explanation)
    ) %>

    This amount will be the <strong>total</strong> discount spread amongst all
    of the line items.
  </p>
</div>
