<div class="admin-nav">
  <%= render partial: 'solidus/admin/shared/header' %>
  <div class="admin-nav-sticky">
    <%= render partial: 'solidus/admin/shared/menu' %>
    <div class="admin-nav-footer">
      <%= render partial: 'solidus/admin/shared/navigation_footer' %>
    </div>
  </div>
</div>
