<p class="actions" data-hook="actions">
  <%= link_to Solidus.t(:edit), edit_object_url %> |
  <%= link_to Solidus.t(:back), collection_url %> |
  <%= link_to Solidus.t(:delete), object_url, :method => :delete, :data => { :confirm => Solidus.t(:are_you_sure_you_want_to_delete_this_record) } %>
</p>
