<footer class="site-footer content-block-gray-900">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <nav class="footer-menu">
          <ul class="list-inline">
          </ul>
        </nav>

        <div class="text-white-048">
          <%= inline_svg("footer-icons.svg", class: "isvg isvg-coffee-love") %> <br class="d-lg-none">
          Created by <a class="text-teal" href="https://stembolt.com/" target="_blank">Stembolt</a>, maintained by the <a class="text-white-048" href="/developers">core team</a> with the help of
          <a class="text-white-048" href="https://github.com/solidusio/solidus/graphs/contributors" target="_blank">our contributors</a>.
        </div>
      </div>
      <div class="col-lg-5">
        <ul class="social-links social-links-light">
          <li class="list-inline-item"><a href="https://twitter.com/solidusio" target="_blank"><%= inline_svg("social-icons/twitter.svg", class: "isvg") %></a></li>
          <li class="list-inline-item"><a href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %></a></li>
          <li class="list-inline-item"><a href="https://github.com/solidusio/solidus" target="_blank"><%= inline_svg("social-icons/github.svg", class: "isvg") %></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>