<div class="mb-8">
  <%= render current_component.new(
    title: "Sample Product Name",
    subtitle: "SKU12345 - Additional details here",
    thumbnail: "https://picsum.photos/200/300"
  ) %>
</div>
