<div class="row">
  <div class="field eight columns alpha omega">
    <% field_name = "#{param_prefix}[preferred_group_size]" %>
    <%= label_tag field_name, Spree.t(:group_size) %>
    <%= number_field_tag field_name, promotion_action.preferred_group_size, class: "fullwidth", min: 1 %>
  </div>
</div>

<%= render "spree/admin/promotions/actions/create_item_adjustments",
  promotion_action: promotion_action, param_prefix: param_prefix %>
