<div class="<%= stimulus_id %>">
  <header class="mb-[24px]">
    <div class="text-[20px] font-[600] leading-[24px]">
      <%= Spree::Product.model_name.human.pluralize %>
    </div>
  </header>

  <%= render(
    component("ui/table").build_for(@products, model_class: Spree::Product) do |t|
      t.column("", class_name: "w-[40px]") { image_column(_1) }
      t.column(:name) { name_column(_1) }
      t.column(:price) { price_column(_1) }
      t.column(:stock) { stock_column(_1) }
    end
  ) %>
</div>
