<div class="<%= stimulus_id %>">
  <header class="mb-[24px]">
    <div class="text-[20px] font-[600] leading-[24px]">
      <%= Spree::Product.model_name.human.pluralize %>
    </div>
  </header>

  <%= render(
    component("ui/table").build_for(@products, model_class: Spree::Product) do |t|
      t.column(:name) { link_to _1.name, spree.edit_admin_product_path(_1) }
      t.column(:price) { _1.master.display_price.to_html }
    end
  ) %>
</div>
