<div class="<%= stimulus_id %>">
  <header class="mb-6">
    <div class="text-5 font-[600] leading-6">
      <%= Spree::Product.model_name.human.pluralize %>
    </div>
  </header>

  <%= render component("ui/table").new(
    rows: @products,
    model_class: Spree::Product,
    columns: [
      { header: "", data: -> { image_column(_1) }, class_name: "w-10" },
      { header: :name, data: -> { name_column(_1) } },
      { header: :status, data: -> { status_column(_1) } },
      { header: :price, data: -> { price_column(_1) } },
      { header: :stock, data: -> { stock_column(_1) } }
    ]
  ) %>
</div>
