<div class="<%= stimulus_id %>">
  <header class="mb-6">
    <h1 class="body-title">
      <%= Spree::Product.model_name.human.pluralize %>
    </h1>
  </header>

  <%= render component("ui/table").new(
    page: @page,
    columns: [
      {
        class_name: "w-[72px]",
        header: "",
        data: -> { image_column(_1) },
      },
      { header: :name, data: -> { name_column(_1) } },
      { header: :status, data: -> { status_column(_1) } },
      { header: :price, data: -> { price_column(_1) } },
      { header: :stock, data: -> { stock_column(_1) } }
     ]
   )
  %>
</div>
