<div class="<%= stimulus_id %>">
  <header class="mb-6">
    <h1 class="body-title">
      <%= Spree::Product.model_name.human.pluralize %>
    </h1>
  </header>

  <%= render @table_component.new(
    page: @page,
    batch_actions: [
      {
        display_name: t('.batch_actions.delete'),
        action: solidus_admin.products_path,
        method: :delete,
        icon: 'delete-bin-7-line',
      },
      {
        display_name: t('.batch_actions.discontinue'),
        action: solidus_admin.discontinue_products_path,
        method: :put,
        icon: 'pause-circle-line',
      },
      {
        display_name: t('.batch_actions.activate'),
        action: solidus_admin.activate_products_path,
        method: :put,
        icon: 'play-circle-line',
      },
    ],
    columns: [
      {
        class_name: "w-[72px]",
        header: tag.span('aria-label': t('.product_image'), role: 'text'),
        data: -> { image_column(_1) },
      },
      { header: :name, data: -> { name_column(_1) } },
      { header: :status, data: -> { status_column(_1) } },
      { header: :price, data: -> { price_column(_1) } },
      { header: :stock, data: -> { stock_column(_1) } }
     ]
   )
  %>
</div>
