<div class="<%= stimulus_id %>">
  <header class="mb-[24px]">
    <div class="text-[20px] font-[600] leading-[24px]">
      <%= Spree::Product.model_name.human.pluralize %>
    </div>
  </header>
</div>
