<ul>
  <li>Display form buttons at the bottom of the group, after the form inputs.</li>
  <li>Primary action buttons and icons should be one style, secondary actions a second style, and destroy actions a third style.</li>
  <li>Display search buttons and upload image buttons attached to the left side of the text field they accompany.</li>
  <li>Allow users to submit a search form with the enter key when the cursor is inside of the search field.</li>
</ul>
