<ul>
  <li>Include a "i" icon and tooltip beside form labels with supplementary information.</li>
  <li>Display input restrictions below form labels and above inputs (example: max 100 characters or specific formats).</li>
  <li>Use helpful text like 'select a taxon' in dropdowns that don't have anything selected.</li>
  <li>Don't display placeholder text inside text fields and boxes.</li>
  <li>Display a progress/loading message or graphic if it takes a long time to submit a form.</li>
</ul>






