// Sidebar
//---------------------------------------------------
#sidebar {
  overflow: visible;
  border-top: 1px solid $color-border;
  margin-top: 17px;

  .sidebar-title {
    color: $color-2;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: $font-weight-bold;

    > span {
      display: inline;
      background: #fff;
      padding: 5px 10px;
      position: relative;
      top: -14px;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  dl {
    dt, dd {
      min-height: 3em;
    }
  }
}
