<div class="mb-8">
  <h6 class="text-gray-500 mb-3 mt-0">
    Default
  </h6>

  <%= render current_component.new(scheme: :default, text: 'Product Saved', icon: 'checkbox-circle-fill') %>
</div>

<div class="mb-8">
  <h6 class="text-gray-500 mb-3 mt-0">
    Error
  </h6>

  <%= render current_component.new(scheme: :error, text: 'Server Error', icon: 'error-warning-fill') %>
</div>
