<div class="mb-8 py-10">
  <%= render current_component.new(
      label: "Enable Notifications",
      error: ["Unable to save settings"],
      hint: "Turn on to receive regular updates",
      tip: "Notifications can be customized in settings",
      size: :m
  ) %>
</div>
