<% available_locales = Spree.i18n_available_locales %>
<% if available_locales.size > 1 %>
  <div class="admin-locale-selection">
    <select class="js-locale-selection custom-select fullwidth">
      <%=
        options_for_select(
          available_locales.map do |locale|
            [I18n.t('spree.i18n.this_file_language', locale: locale, default: locale.to_s, fallback: false), locale]
          end.sort,
          selected: I18n.locale,
        )
      %>
    </select>
  </div>
<% end %>
