<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_settings_taxes_tabs">
      <% if can? :display, Spree::TaxCategory %>
        <%= settings_tab_item plural_resource_name(Spree::TaxCategory), spree.admin_tax_categories_path %>
      <% end %>

      <% if can? :display, Spree::TaxRate %>
        <%= settings_tab_item plural_resource_name(Spree::TaxRate), spree.admin_tax_rates_path %>
      <% end %>
    </ul>
  </nav>
<% end %>
