<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "solidus_admin", "data-turbo-track": "reload" %>
  </head>
  <body>
    <h1 class="text-4xl">Layout is rendered</h1>
    <%= yield %>
  </body>
</html>
