<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "solidus_admin/application.css", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "solidus_admin/application", shim: false, importmap: SolidusAdmin.importmap %>
  </head>
  <body class="
    grid grid-cols-4
    lg:grid-cols-12
    bg-gray-15
  ">
    <%= render component("sidebar").new %>

    <main class="
      col-start-2 col-end-4
      lg:col-start-3 lg:col-end-12
      py-[24px] px-[16px]
    ">
      <%= yield %>
    </main>
  </body>
</html>
