<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "solidus_admin/application.css", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render SolidusAdmin::LayoutComponent.new do %>
      <h1 class="text-4xl">Layout is rendered</h1>
      <%= yield %>
    <% end %>
  </body>
</html>
