<!DOCTYPE html>
<html>
  <head>
    <%= javascript_importmap_tags "solidus_admin/application", shim: false, importmap: SolidusAdmin.importmap %>
  </head>
  <body class="p-3">
    <%= yield %>
  </body>
</html>
