<%= form_with model: benefit, scope: :benefit, url: solidus_friendly_promotions.new_admin_promotion_benefit_path(@promotion), method: :get do |form| %>
  <div class="form-group">
    <%= form.label :type %>
    <%= admin_hint SolidusFriendlyPromotions::Benefit.human_attribute_name(:type), t(:type, scope: [:solidus_friendly_promotions, :hints, "solidus_friendly_promotions/benefit"]) %>
    <%=
      form.select :type,
        options_for_benefit_types(form.object),
        {
          include_blank: t(:choose_benefit, scope: 'solidus_friendly_promotions')
        },
        class: 'custom-select w-100',
        onchange: 'this.form.requestSubmit()',
        required: true
    %>
  </div>
<% end %>
