<p>
  <%= condition.class.human_attribute_name(:description) %>
</p>
<div class="row">
  <div class="col-6">
    <div class="field">
      <%= SolidusFriendlyPromotions::Conditions::NthOrder.human_attribute_name(:form_text) %>
    </div>
  </div>
  <div class="col-6">
    <div class="field">
      <%= number_field_tag "#{param_prefix}[preferred_nth_order]", condition.preferred_nth_order, class: 'fullwidth' %>
    </div>
  </div>
</div>
