<p>
  <%= condition.class.human_attribute_name(:description) %>
</p>
<div class="field">
  <%= label_tag "#{param_prefix}_preferred_shipping_method_ids", SolidusFriendlyPromotions::Conditions::ShippingMethod.human_attribute_name(:preferred_shipping_method_ids) %>
  <%= select_tag "#{param_prefix}[preferred_shipping_method_ids]",
    options_from_collection_for_select(
      Spree::ShippingMethod.all, :id, :name, condition.preferred_shipping_method_ids
    ), class: 'select2 fullwidth', multiple: true %>
</div>
