<%= form_tag order_coupon_codes_path(@order), method: :post, class: "coupon-code flex flex-col md:flex-row items-center gap-x-4 lg:flex-col gap-y-3" do %>
  <div class="coupon-code__input w-full">
    <%= text_field_tag 'coupon_code',
      nil,
      id: 'order_coupon_code',
      placeholder: t("spree.coupon_code"),
      class: 'rounded-md border border border-gray-mid rounded px-4 py-3 placeholder:text-gray-500 text-black text-body w-full hover:border-gray-400 focus:outline-none focus:ring focus:ring-offset-1 focus:ring-black/20 focus:border-gray-400 dark:bg-gray-800 dark:border-gray-600 dark:text-sand dark:placeholder:text-gray-400 dark:focus:ring-white/30',
      required: true
    %>
  </div>

  <%= render partial: "shared/call_to_action", :locals => { :label => t('spree.apply_code'), :id => :commit, :name => :commit, :url => nil, :type => 'tertiary', additional_classes: 'w-full' } %>
<% end %>
