<div class="<%= stimulus_id %> px-4">
  <header class="py-6 flex items-center">
    <h1 class="body-title">
      <%= title %>
    </h1>

    <div class="ml-auto flex gap-2 items-center">
      <%= render component("ui/button").new(
        tag: :a,
        text: t('.create_order'),
        href: spree.new_admin_order_path,
        icon: "add-line",
      ) %>
    </div>
  </header>

  <%= render component('ui/table').new(
    id: 'orders-list',
    data: {
      class: Spree::Order,
      rows: @page.records,
      fade: row_fade,
      url: ->(order) { spree.edit_admin_order_path(order) },
      batch_actions: batch_actions,
      columns: columns,
      prev: prev_page_path,
      next: next_page_path,
    },
    search: {
      name: :q,
      value: params[:q],
      searchbar_key: SolidusAdmin::Config[:order_search_key],
      url: solidus_admin.orders_path(scope: params[:scope]),
      filters: filters,
      scopes: scopes,
    },
  ) %>
</div>
