<p>
  <%= promotion_rule.class.human_attribute_name(:description) %>
</p>
<div class="field">
  <%= number_field_tag "#{param_prefix}[preferred_days_ago]", promotion_rule.preferred_days_ago, class: 'fullwidth' %>
</div>
