#stock_transfer_summary {
  margin: 20px 0px;
  display: inline-block;

  .location,
  .count-summary {
    float: left;
    font-size: 15px;
  }
  .location {
    width: 70%;
  }
  .count-summary {
    width: 30%;
    text-align: right;
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
  .summary-field {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 105%;
  }
  .arrow {
    margin: 0px 5px;
  }
}

#received-transfer-items,
#stock-transfer-transfer-items {
  margin-top: 70px;
  .new-row {
    display: none;
  }
}

#listing_transfer_items {
  > tbody {
    tr {
      &:hover {
        td {
          background-color: $color-1;
        }
      }
    }
  }
}
