// Primary palette
$solidus-admin-solidus-red: #ef3023;
$solidus-admin-black: #222222;
$solidus-admin-graphite: #c7ccc7;
$solidus-admin-graphite-light: #d8dad8;
$solidus-admin-sand: #f5f3f0;
$solidus-admin-white: #ffffff;

// Secondary palette
$solidus-admin-yellow: #fdc071;
$solidus-admin-orange: #f68050;
$solidus-admin-blue: #2554b1;
$solidus-admin-moss: #2d3925;
$solidus-admin-forest: #096756;
$solidus-admin-midnight: #163449;
$solidus-admin-pink: #f6d7e2;
$solidus-admin-plum: #3a0e31;
$solidus-admin-sky: #cbdff1;
$solidus-admin-seafoam: #c1e0de;
$solidus-admin-dune: #e6bf9b;

// UI Red
$solidus-admin-red-100: #f8d6d3;
$solidus-admin-red-200: #f1ada7;
$solidus-admin-red-300: #ea8980;
$solidus-admin-red-400: #e36054;
$solidus-admin-red-500: #dc3728;
$solidus-admin-red-600: #b12c20;
$solidus-admin-red-700: #862219;
$solidus-admin-red-800: #561610;
$solidus-admin-red-900: #2b0b08;

// Grayscale
$solidus-admin-gray-15: #fafafa;
$solidus-admin-gray-25: #f5f5f5;
$solidus-admin-gray-50: #f0f0f0;
$solidus-admin-gray-100: #dedede;
$solidus-admin-gray-200: #cfcfcf;
$solidus-admin-gray-300: #bababa;
$solidus-admin-gray-400: #a3a3a3;
$solidus-admin-gray-500: #737373;
$solidus-admin-gray-600: #616161;
$solidus-admin-gray-700: #4a4a4a;
$solidus-admin-gray-800: #333333;
