---
title: Home
---


<div class="content-block card">
  <h1 class="title">Developer documentation</h1>
  <p class="lead">Whether you’re just starting out or an advanced user, this documentation should cover almost everything you need to know about Solidus. It’s recommended that you’re comfortable with Ruby and Rails, but if you need a little help, some people have found these
    <a href="#">Codemy videos <%= inline_svg("icons/external-link.svg", class: "isvg") %></a> helpful, and our community is just a <a href="#">Slack</a> message away.
    Get started by <a href="#">downloading the free source code from Github</a>. The instructions for getting a demo store setup are include in the readme.</p>
</div>

<div class="content-block card">
  <div class="content-block bg-danger">
    <h2 class="title">Security updates</h2>
    <p>While we will post all security vulnerabilities here and on the <a href="#">Solidus blog</a> you may wish to recieve notifications. For instant updates you can subscribe to the
      <a href="#">Google group</a>.</p>
  </div>

  <%= partial "partials/feedback" %>
</div>
