<div class="half">
  <p>Icons are provided by <a href="https://fortawesome.github.io/Font-Awesome/cheatsheet/">
  Font Awesome</a>. There are also a number of helpers for inserting icons, links, and buttons. </p>
</div>

<div class="style-guide-code half">
  <pre><code class="language-ruby">
    icon('fa fa-user')
    link_to_with_icon('send', 'link text', '#')
    button('button text')
    button_link_to('button link text', '#')
  </code></pre>
</div>
