<p>
  Unordered lists have been stripped of all padding and margin.
</p>

<ul class="example">
  <li>Unordered list of things</li>
  <li>List item
  <ul>
    <li>Nested list item</li>
    <li>Nested list item</li>
  </ul>
  </li>
  <li>List item</li>
</ul>

<p>
  Definition lists have a fluid 40%/60% layout with some font changes.
</p>

<dl>
  <dt>Description</dt>
  <dd>List</dd>
  <dt>Term</dt>
  <dd>Description</dd>
</ul>
