<div class="content-block bg-info">
  <h2 class="title">Feedback</h2>
  <p>Solidus is an open source platform supported by the community. We encourage everyone using Solidus to contribute back to the documentation and the code.</p>
  <p>If you’re interested in contributing to the docs, get started with the <a href="/contributing.html">contributing guidelines</a>. If you see something that needs fixing and can’t do it yourself, please
    <a href="mailto:contact@solidus.io">send us an email</a>.</p>
</div>
