<div class="content-block bg-danger">
  <h2 class="title">Security updates</h2>
  <p>
    The best way to receive all the security announcements is to
    <a href="https://help.github.com/en/articles/about-security-alerts-for-vulnerable-dependencies" target="_blank">
      enable alerts for vulnerable dependencies in GitHub
      <%= inline_svg("icons/external-link.svg", class: "isvg") %>
    </a>
     or to subscribe to the
    <a href="https://groups.google.com/forum/#!forum/solidus-security" target="_blank">
      Solidus Security mailing list
      <%= inline_svg("icons/external-link.svg", class: "isvg") %>
    </a>.

    The mailing list is very low traffic, and it receives the public
    notifications the moment the vulnerability is published.
  </p>

  <p>
    You can find more information on our official
    <a href="https://solidus.io/security/" target="_blank">
      security policy page
      <%= inline_svg("icons/external-link.svg", class: "isvg") %>
    </a>.
  </p>
</div>
