<div class="content-block bg-danger">
  <h2 class="title">Security updates</h2>
  <p>While we will post all security vulnerabilities here and on the <a href="https://solidus.io/blog/" target="_blank">Solidus blog<%= inline_svg("icons/external-link.svg", class: "isvg") %></a> you may wish to recieve notifications. For instant updates you can subscribe to the
  <a href="https://groups.google.com/forum/#!forum/solidus-security" target="_blank">Google group<%= inline_svg("icons/external-link.svg", class: "isvg") %></a>.
  </p>
</div>
