<footer id="footer" class="row" data-hook>
  <div id="footer-left" class="col-sm-6" data-hook>
    <p><%= t 'spree.powered_by' %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>
  </div>
  <div id="footer-right" class="col-sm-6" data-hook></div>
</footer>
