<header id="header" class="row" data-hook>
  <div class="col-md-6">
    <figure id="logo" data-hook><%= logo %></figure>
  </div>
  <div class="col-md-6">
    <%= render partial: 'spree/shared/nav_bar' %>
  </div>
  <div class="col-md-12">
    <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</header>
