<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <%= render 'spree/shared/locale_selector' %>
    <%= render 'spree/shared/login_bar_items' %>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>
