<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <%= render 'spree/shared/locale_selector' %>
    <%# solidus_auth_devise or a custom auth system can replace this partial %>
    <%= render 'spree/shared/login_bar_items' if lookup_context.exists?('spree/shared/_login_bar_items') %>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>
