<ul>
  <li>This one has a main column on the left and secondary column on the right for form things.</li>
  <li>Use this for dense, self explanatory forms that have secondary information to them like timing on a product or promotion.</li>
</ul>
