.product-search-field-show-deleted.field.checkbox {
  // extra specificity to override styles
  @include make-col(2);
  min-height: initial; // override .field.checkbox
  margin-bottom: 0; // override .checkbox
}

div[data-hook="admin_products_index_search_buttons"] {
  margin-top: 2rem;
}

[data-hook="admin_product_form_fields"] {
  label {
    display: inline-block;
  }
  input, select, textarea, .select2-container {
    width: 100%;
  }
  input[type="checkbox"] {
    width: auto;
  }
}

[data-hook="admin_product_form_multiple_variants"] {
  .info-actions {
    text-align: right;
  }
}

.outstanding-balance {
  margin-bottom: 15px;

  strong {
    background: $color-primary-light;
    padding: .1em .3em;
    border-radius: 3px;
  }
}

#upload-zone {
  border: 2px dashed $color-border;
  padding: 2rem 5rem;
  text-align: center;
  margin: 1rem auto;
  width: 70%;

  label.upload {
    display: block;
  }

  &.with-images {
    border-color: theme-color("success");
  }
}

.progress-card {
  height: 100%;
  padding: 1rem;
}

.modal-image-trigger {
  cursor: zoom-in;
}
