#taxonomy_tree {
  padding: 0 3em;

  &,
  ul {
    list-style: none;
  }

  ul {
    min-height: 0.5em;
    margin-bottom: 1.5em;
  }

  .taxon {
    border-radius: $border-radius;
  }

  .taxon {
    background-color: very-light($color-3);
    border: 1px solid $color-border;
    color: $body-color;
    font-weight: $font-weight-bold;
    padding: 0.5em;

    &.sortable {
      cursor: move;
    }

    i {
      margin-right: 4px;
      margin-bottom: 0;
      margin-left: 6px;
    }

    .actions a {
      margin-left: 8px;
    }
  }
}
