#stock_transfer_summary {
  margin: 20px 0px;
  display: inline-block;

  .location,
  .count-summary {
    float: left;
    font-size: 15px;
  }
  .location {
    width: 70%;
  }
  .count-summary {
    width: 30%;
    text-align: right;
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
  .summary-field {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 105%;
  }
  .arrow {
    margin: 0px 5px;
  }
}

#received-transfer-items {
  margin-top: 70px;
  .new-row {
    display: none;
  }
}

#close-stock-transfer-warning {
  display: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
  color: $color-notice;
  border: 1px solid $color-notice;
  background-color: very-light($color-notice, 1);
  i {
    font-size: 30px;
  }
  .warning-title {
    width: 100%;
    text-align: center;
    span {
      bottom: 5px;
      font-size: 15px;
      position: relative;
      margin-left: 10px;
    }
  }
  .action-consequences {
    margin-top: 10px;
    ul {
      margin-left: 30px;
    }
  }
  .actions {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    a {
      margin: 0px 7px;
      color: $color-notice;
      &:hover,
      &:active,
      &:visited {
        color: $color-notice;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#listing_received_transfer_items {
  > tbody {
    tr {
      &:hover {
        td {
          background-color: $color-1;
        }
      }
    }
  }
}
