<table class="line-items index" data-hook="line-items">
  <colgroup>
    <col style="width: 10%;" />
    <col style="width: 45%;" />
    <col style="width: 10%;" />
    <col style="width: 10%;" />
    <col style="width: 10%;" />
    <col style="width: 15%;" />
  </colgroup>

  <thead>
    <tr>
      <th colspan="2"><%= Spree::Product.human_attribute_name(:name) %></th>
      <th><%= Spree::LineItem.human_attribute_name(:price) %></th>
      <th><%= Spree::LineItem.human_attribute_name(:quantity) %></th>
      <th><%= Spree::LineItem.human_attribute_name(:total) %></th>
      <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%# Rendered by JS %>
  </tbody>
</table>
