<script type="text/template" id="taxons-list-template">
  {{#each taxons}}
  <li data-taxon-id="{{id}}" data-taxon-taxonomy-id="{{taxonomy_id}}">
    <div class="sortable-handle">
      <i class="fa fa-arrows"></i> {{name}}
    </div>
    <ul>
      {{> taxons}}
    </ul>
  </li>
  {{/each}}
</script>
