<% admin_breadcrumb(link_to Spree::Product.model_name.human(count: :other), spree.admin_products_path) %>
<% admin_breadcrumb(Spree.t('admin.taxons.display_order')) %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:choose_a_taxon_to_sort_products_for) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_orders_index_search" class="columns six">
    <input type='text' id='taxon_id' />
  </div>
<% end %>

<div class='sixteen columns'>
  <div id='taxon_products' class='list-group'></div>
</div>
