<%# no need for thumbnails unless there is more than one image %>
<% if (@product.images + @product.display_variant_images).uniq.size > 1 %>
  <ul id="product-thumbnails" class="thumbnails inline" data-hook>
    <% @product.images.each do |i| %>
      <li class='tmb-all' data-variant-ids='<%= image_dom_id i %>'>
        <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
      </li>
    <% end %>

    <% if @product.has_variants? %>
      <% @product.display_variant_images.each do |i| %>
        <% next if @product.images.include?(i) %>
        <li class='vtmb' data-variant-ids='<%= image_dom_id i %>'>
          <%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
