<% if content_for?(:page_title) || content_for?(:page_actions) %>
  <div id="content-header" data-hook>
    <h1 class="page-title <%= yield :page_title_classes %>"><%= yield :page_title %></h1>

    <% if content_for?(:page_actions) %>
      <div class="toolbar" data-hook="toolbar">
        <ul class="page-actions inline-menu">
          <%= yield :page_actions %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
