<% if content_for?(:page_title) || content_for?(:page_actions) %>
  <div id="content-header" data-hook>
    <% if content_for?(:page_title) %>
      <h1 class="page-title <%= yield :page_title_classes %>"><%= yield :page_title %></h1>
    <% end %>

    <% if content_for?(:page_actions) %>
      <div class="header-actions page-actions table-cell toolbar" data-hook="toolbar">
        <ul class="inline-menu">
          <%= yield :page_actions %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
