<div id="content-header" class="main-header" data-hook>
  <span id="admin-nav-toggle"><i class="fa fa-angle-double-left fa-2x"></i></span>
  <%= render_admin_breadcrumbs %>

  <% if content_for?(:page_actions) %>
    <ul class="header-actions page-actions inline-menu" data-hook="toolbar">
      <%= yield :page_actions %>
    </ul>
  <% end %>
</div>
