<div id="content-header" class="main-header" data-hook>
  <label for="menu-button" class="menu-button-icon js-toggle-menu">
    <i class="fa fa-bars"></i>
  </label>

  <%= render_admin_breadcrumbs %>

  <% if content_for?(:page_actions) %>
    <ul class="header-actions page-actions inline-menu" data-hook="toolbar">
      <%= yield :page_actions %>
    </ul>
  <% end %>
</div>
