<% if content_for?(:page_title) || content_for?(:page_actions) %>
  <div id="content-header" class="main-header" data-hook>
    <% if content_for?(:page_title) %>
      <h1 class="page-title"><%= yield :page_title %></h1>
    <% end %>

    <% if content_for?(:page_actions) %>
      <ul class="header-actions page-actions inline-menu" data-hook="toolbar">
        <%= yield :page_actions %>
      </ul>
    <% end %>
  </div>
<% end %>
