<nav class="admin-nav-menu">
  <ul data-hook="admin_tabs">
    <li class="tab-with-icon ">
      <label for="menu-button" class="collapse-menu js-toggle-menu">
        <a class="fa fa-arrow-left icon_link with-tip collapse-menu-close" href="#" data-original-title="" title="">
          <span class="text">Collapse</span>
        </a>
        <a class="fa fa-arrow-right icon_link with-tip collapse-menu-open" href="#" data-original-title="" title="">
          <span class="text">Open</span>
        </a>
      </label>
    </li>

    <%= render partial: 'spree/admin/shared/tabs' %>
  </ul>
</nav>
