<div class="admin-nav">
  <%= render partial: 'spree/admin/shared/navigation_header' %>
  <div class="admin-nav-sticky">
    <%= render partial: 'spree/admin/shared/menu' %>
    <div class="admin-nav-footer">
      <%= render partial: 'spree/admin/shared/navigation_footer' %>
    </div>
  </div>
</div>
