<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= submit_tag t('spree.actions.create'), class: 'btn btn-primary' %>
  <%= link_to t('spree.actions.cancel'), collection_url, class: 'button' %>
</div>
