<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to @product.name, spree.admin_product_path(@product)) %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs" data-hook="admin_product_tabs">
      <% product_tabs(current: current).each do |tab| %>
        <%= content_tag :li, class: tab.css_classes do %>
          <%= link_to tab.presentation, tab.url %>
        <% end if tab.visible? %>
      <% end %>
    </ul>
  </nav>
<% end %>
