<%= search_form_for @search, url: spree.url_for(controller: 'admin/reports', action: action)  do |s| %>
  <div class="date-range-filter field">
    <div class="date-range-fields input-group">
      <%= s.text_field :completed_at_gt, class: 'datepicker datepicker-from form-control', value: datepicker_field_value(params[:q][:completed_at_gt]), placeholder: t('spree.start') %>

      <div class="input-group-prepend input-group-append">
        <span class="input-group-text range-divider">
          <i class="fa fa-arrow-right"></i>
        </span>
      </div>

      <%= s.text_field :completed_at_lt, class: 'datepicker datepicker-to form-control', value: datepicker_field_value(params[:q][:completed_at_lt]), placeholder: t('spree.end') %>
    </div>
  </div>

  <div class="actions filter-actions">
    <%= button_tag t('spree.search'), class: 'btn btn-primary' %>
  </div>
<% end %>
