<p class="actions" data-hook="actions">
  <%= link_to Spree.t('actions.edit'), edit_object_url %> |
  <%= link_to Spree.t(:back), collection_url %> |
  <%= link_to Spree.t('actions.delete'), object_url, :method => :delete, :data => { :confirm => Spree.t(:are_you_sure_delete) } %>
</p>
