<div class="<%= stimulus_id %> w-full">
  <%= render component('ui/panel').new(title: t('.summary')) do %>
    <%= render component('ui/details_list').new(
      items: [
        { label: t('.subtotal'), value: @order.display_item_total, class: 'font-semibold' },
        { label: t('.taxes'), value: @order.display_additional_tax_total },
        { label: t('.shipping'), value: @order.display_shipment_total },
        { label: link_to(t('.add_promo_code'), '#', class: "body-link"), value: @order.display_promo_total },
        { label: link_to(t('.adjustments'), solidus_admin.order_adjustments_path(@order), class: "body-link"), value: @order.display_adjustment_total },
        { label: t('.total'), value: @order.display_total, class: 'font-semibold' }
      ]
    ) %>
  <% end %>
</div>
