<div class="flex h-screen">
  <div class="flex h-4/5">
    <div class="self-end">
      <%= render current_component.new(
        user_label: "Alice Doe"
      ) %>
    </div>
  </div>
  <div class="flex h-4/5">
    <div class="self-end">
      <%= render current_component.new(
        user_label: "Alice Supercalifragilisticexpialidocious"
      ) %>
    </div>
  </div>
</div>
