<section class="products-by-taxon">
  <span class="products-by-taxon__title mt-10 mb-4 font-serif text-h6 lg:text-h5">
    <%= link_to products_by_taxon.name, taxon_seo_url(products_by_taxon) %>
  </span>

  <%= render 'products/products', products: taxon_preview(products_by_taxon), taxon: products_by_taxon %>
</section>
