// This is a good place where we can deprecate scss variables.
// The deprecation will be shown when scss is precompiled
// only if deprecated variables are redefined in a custom
// variables_override.scss file of the host application.
// E.g.
//
// @include solidus-deprecated-variable("deprecated-variable", "new-variable");

