// Quick fix for dynamic variables missing in SASS
@function get-value($prop, $val, $search) {
  $n1: index($prop, $search);
  $n2: index($val, $search);

  @if($n1) {
    @return nth($val, $n1);
  } @else {
    @return nth($prop, $n2);
  }
}

