<legend class="body-title text-center">Click me</legend>
<div class="flex flex-wrap justify-center content-center h-screen">
  <%=
    render current_component.new(
      guide: guide,
      position: position,
      theme: theme
    )
  %>
</div>
