<% admin_breadcrumb(t('spree.reports')) %>


<table class="index">
  <thead>
    <tr data-hook="reports_header">
      <th><%= t('spree.name') %></th>
      <th><%= t('spree.description') %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |key, value| %>
    <tr data-hook="reports_row">
      <td><%= link_to t(value[:name], scope: 'spree'), send("#{key}_admin_reports_url".to_sym) %></td>
      <td><%= t(value[:description], scope: 'spree') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
