.navbar{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;

  .site-logo{
    float: left;
    .isvg{
      display: block;
      margin: 0 0 auto;
    }
  }

  .logo-wrapper, .navbar-right{
    width: 25%;
    flex-shrink: 0;
  }

  .navbar-right{
    width: 75%;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    @include media-breakpoint-up(lg){ display: none; }
  }

  .search-box{
    margin-top: 20px;
    width: 100%;

    @include media-breakpoint-up(lg){
      margin-top: 0;
      width: 75%;
      max-width: $main-content-width;
    }

    .form-group{ margin-bottom: 0; }
  }

  .site-menu-toggler{
    width: 20px;
    height: 20px;

    &, .isvg{
      display: block;
      margin: 0 0 0 auto;
    }

    .isvg-close{
      display: none;
      .inherit-fill{ fill: #ffffff; }
    }

    .menu-open &{
      .isvg-close{ display: block; }
      .isvg-menu{ display: none; }
    }

    @include media-breakpoint-up(lg){ display: none; }
  }

  @include media-breakpoint-up(lg){
    padding-bottom: 0;
    padding-top: 0;
  }

  @include media-breakpoint-down(md){
    max-width: none;
  }
}


.site-navbar{
  top: 0;
  right: 0;
  bottom: 0;

  @include media-breakpoint-down(md){
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0);
    background: #ffffff;
    position: fixed;
    transform: translate3d(300px, 0, 0);
    transition: 300ms ease all;
    z-index: $zindex-modal;
    width: 300px;

    .backdrop{
      transition: 300ms ease all;
      display: block;
      background: rgba(#ffffff, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: calc(100vw - 300px);
      z-index: -1;
    }

    .menu-open &{
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.32);
      transform: translate3d(0, 0, 0);

      .backdrop{ left: calc(300px - 100vw); }
    }
  }

  @include media-breakpoint-up(lg){
    padding-right: 25px;
    width: auto;
  }

  @include media-breakpoint-up(xl){ padding-right: 50px; }

  .navbar-header{
    background-image: linear-gradient(to top, #716ff9, #3c76f0);
    padding: 20px 25px;
    margin: 0 0 27px;
    overflow: hidden;

    @include media-breakpoint-up(lg){ display: none; }

    .isvg{
      display: block;
      margin: 0;
    }

    .site-menu-toggler{
      height: 20px;
      width: 20px;
      float: right;
    }
  }

  .navbar-content{
    padding: 0 25px;
    position: sticky;
    overflow-y: auto;
    height: calc(100vh - #{$header-desktop-height} - 32px);
    transition: transform .3s ease-in-out;

    &.pinned {
      transform: translateY(-$header-desktop-height);
      height: calc(100vh - 32px);
    }

    @include media-breakpoint-down(md){
      height: calc(100% - 87px);
      padding-bottom: 25px;
    }

    @include media-breakpoint-up(lg){
      padding: 0 25px 25px 0;
      top: 132px;
      bottom: 25px;
    }
  }

  .title{
    color: $gray-072;
    font-size: 22px;
    line-height: 1.05em;
    font-weight: 600;
    margin-bottom: 0.625rem;


    @include media-breakpoint-up(lg){ margin-bottom: 1.5rem; }
  }

  nav{
    line-height: 1.5em;

    ul{ margin: 0; }

    li{
      &.active, &.current{
        > a{ font-weight: $font-weight-bold; }
      }
    }

    li a{
      padding: 4px 0;
      display: block;
      @extend .text-gray-700;

      &:hover, &:active{ font-weight: $font-weight-bold; }
    }

    ul{
      @extend .list-unstyled;

      li{ margin-bottom: 0; }

      ul{
        li{
          a{
            padding-left: 10px;
            padding-right: 10px;
          }

          &.active a, &.current a, a:hover, a:active{ background: rgba(60, 118, 240, 0.2); }
        }
      }
    }
  }

  hr{
    margin: 10px 0;
    @include media-breakpoint-up(lg){ margin: 22px 0; }
  }
}

.site-logo {
  width: 100px;
  fill: white;
}