<input type="checkbox" name="send_mailer" id="send_mailer" value="true" {{#if send_mailer}}checked="checked"{{/if}}>
<label for="send_mailer">{{ t "send_mailer" }}</label>
<button class="ship-shipment-button">{{ t "actions.ship" }}</button>
