<div class="fullwidth promo-rule-option-value">
  <div class="row">
    <div class="col-6">
      <input class="js-promo-rule-option-value-product-select fullwidth" type="hidden" value="{{ productSelect.value }}">
    </div>
    <div class="col-5">
      <input class="js-promo-rule-option-value-option-values-select fullwidth" name="{{ paramPrefix }}[preferred_eligible_values][{{ productSelect.value }}]" type="hidden" value={{optionValuesSelect.value}}>
    </div>
  </div>
  <a class="fa fa-trash remove js-remove-promo-rule-option-value"></a>
  <div class="clear"></div>
</div>
