<span><%= Spree.t('close_stock_transfer.will_cause') %>:</span>
<ul>
  <li><%= Spree.t('close_stock_transfer.no_longer_edit') %></li>
  <li><%= Spree.t('close_stock_transfer.stock_movements_created') %></li>
</ul>
