<script type="text/x-handlebars-template" id="receive-count-for-transfer-item-template">
  <tr class='new-row' data-transfer-item-id="{{id}}">
    <td class="align-center no-padding">
      <div class='variant-container'>
        <div class='variant-image'>
          {{#if variantImageURL }}
            <img alt="{{variantName}}" src="{{variantImageURL}}">
          {{ else }}
            <img alt='{{variant.name}}' src='<%= image_path("noimage/small.png") %>' />
          {{/if}}
        </div>
        <div class='variant-details'>
          <table class='stock-variant-field-table'>
            <tbody>
              {{#each variantDisplayAttributes}}
                <tr>
                  <td>{{this.label}}</td>
                  <td class="fullwidth">{{this.value}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </td>
    <td class="align-center">
      <table class='stock-variant-field-table'>
        {{#each variantOptions}}
          <tr>
            <td>{{this.option_type}}</td>
            <td>{{this.option_value}}</td>
          </tr>
        {{/each}}
      </table>
    </td>
    <td class='align-center' id="number-update-{{id}}">
      <span class='js-number-update-text'>{{receivedQuantity}}</span>
      <input class="fullwidth js-number-update-input" name="received_quantity" type="number" value="">
    </td>
    <td class="actions">
      <a class="fa fa-edit icon_link with-tip no-text" data-action="edit" data-id="{{id}}" href="#"></a>
      <a class="fa fa-check icon_link with-tip no-text" data-action="green" data-id="{{id}}" href="#"></a>
      <a class="fa fa-void icon_link with-tip no-text" data-action="red" data-id="{{id}}" href="#"></a>
    </td>
  </tr>
</script>
