<nav aria-label="pagination" class="flex items-center">
  <%= render component('ui/button').new(
    icon: 'arrow-left-s-line',
    class: 'rounded-tr-none rounded-br-none border-r-0',
    scheme: :secondary,
    size: :s,
    tag: :a,
    href: @prev_link,
    'aria-disabled': @prev_link.blank?,
    rel: 'prev',
    text: content_tag(:span, t('.previous'), class: 'sr-only'),
  ) -%>
  <%= render component('ui/button').new(
    icon: 'arrow-right-s-line',
    class: 'rounded-tl-none rounded-bl-none',
    scheme: :secondary,
    size: :s,
    tag: :a,
    href: @next_link,
    'aria-disabled': @next_link.blank?,
    rel: 'next',
    text: content_tag(:span, t('.next'), class: 'sr-only'),
  ) %>
</nav>
