<tr class="selectable-header">
  <th class="selectable-table-summary" colspan="2">
  </th>
  <td colspan="7" class="text-right">
    {{total_pre_tax_refund}} <span id="total_pre_tax_refund">{{total_selected_item_amount}}</span>
  </td>
</tr>
