<ul>
  <li>Left align field labels and do not include colons.</li>
  <li>Display field labels above text fields, text boxes and drop downs, and to the right of checkboxes and radio buttons.</li>
  <li>Labels should be in sentence casing (first letter of the first word is uppercase, the rest are lowercase).</li>
  <li>Do not add underlines to labels.</li>
</ul>
