<table>
  <% [
    { title: 'Default', left: true, right: true },
    { title: 'Left', left: true, right: false },
    { title: 'Right', left: false, right: true },
    { title: 'Disabled', left: false, right: false }
  ].each do |config| %>
    <tr>
      <td class="font-bold px-3 py-1"><%= config[:title] %></td>
      <td class="px-3 py-1 text-center">
        <%= render current_component.new(
          page: page.call(config[:left], config[:right]),
          path: path
        ) %>
      </td>
    </tr>
  <% end %>
</table>
