<div class="mb-8">
  <h6 class="text-gray-500 mb-3 mt-0">
    Available
  </h6>

  <%= render current_component.new(status: :available) %>
</div>

<div class="mb-8">
  <h6 class="text-gray-500 mb-3 mt-0">
    Discontinued
  </h6>

  <%= render current_component.new(status: :discontinued) %>
</div>
